/**
 * @Author: hbbaly
 * @Date: 2019-11-16 17:43:56
 * @GitHub: https://github.com/hbbaly
 * @Description: variables
 */

/* 水平间距 */
$row-smest= 5px;
$row-sm= 10px;
$row-base= 15px;
$row-lg= 20px;
$row-lger= 25px;
$row-lgest= 30px;

/* 垂直间距 */
$col-smest= 5px;
$col-sm= 10px;
$col-base= 15px;
$col-lg= 20px;
$col-lger= 25px;
$col-lgest= 30px;
// colors
$grey-bg = #fefefe
$blue = #0288D1
$orange = #409EFF
$color = #fff

// font-size= 
$fs-smest=12px;
$fs-smer=14px;
$fs-sm=16px;
$fs-base=18px;
$fs-lg=20px;
$fs-lger=22px;
$fs-lgest=24px;